# Arquivos de ambiente e senhas (NUNCA SUBIR)
.env
.env.local

# Banco de dados local (Não queremos subir o arquivo .db real)
*.db
*.sqlite3

# Arquivos temporários do Python (Lixo)
__pycache__/
*.pyc
.pytest_cache/

# Docker e IDEs
.idea/
.vscode/